/*TABLET (≤1024px)*/

@media (max-width:1024px){
    section{
        padding:70px 50px;
    }

    .about-wrapper{
        flex-direction: column;
        gap:40px;

        .about-img img{
        width:100%;
        }
    }

    .commitments{
        .commit-grid{
        grid-template-columns:1fr;
        }
    }

    .process{
        .process-grid{
        grid-template-columns:repeat(2,1fr);
        }
    }

    .feedback{
        .feedback-grid{
        grid-template-columns:repeat(2,1fr);
        }
    }

    .contact-wrapper{
        flex-direction:column;
        gap:40px;

        .contact-info{
        align-items:flex-start;
        }
    }

}


/* MOBILE (≤768px) */

@media (max-width:768px){
  section{
    padding:60px 25px;
  }

  header{
    flex-direction:column;
    gap:15px;
    padding:20px;

    ul{
      gap:20px;
    }
  }

  .hero{
    height:380px;

    h2{
      font-size:36px;
    }

    p{
      font-size:14px;
    }
  }

  .new-cars{
    .section-title h2{
      font-size:36px;
    }

    .cars-grid{
      grid-template-columns:1fr;
    }
  }

  .about-wrapper{

    .about-text{

      h2{
        font-size:36px;
      }
    }
  }

  .process{
    .process-grid{
      grid-template-columns:1fr;
    }
  }

  .feedback{
    .feedback-grid{
      grid-template-columns:1fr;
    }
  }

  .contact-info{

    h2{
      font-size:36px;
    }

    p{
      font-size:16px;
    }
  }

  footer{
    padding:50px 25px;

    .footer-grid{
      grid-template-columns:1fr;
      gap:30px;
    }
  }
}


/* SMALL MOBILE (≤480px) */

@media (max-width:480px){
  .hero{
    height:320px;

    h2{
      font-size:28px;
    }
  }

  .new-cars{
    button{
      width:100%;
    }
  }

  .contact-form{
    button{
      width:100%;
    }
  }
}